<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to fake wiki 📚</h1>
    <p><%= link_to "Write new article", new_article_path %></p>
    <%= yield %>
    <footer><%= link_to "Home", root_path %></footer>
  </body>
</html>
